doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        .container 
            h1(class="fs-1 text-center ") Initials
            form
                label(for="fname" class="fs-3") First name:
                br
                input(type="text" id="fname" name="fname" class="w-100" placeholder="First name" required) 
                br
                label(for="lnam" class="fs-3") Last name
                br
                input(type="text" id="lname" name="lname" class="w-100" placeholder="Last name" required)
                br 
                label(for="email" class="fs-3") Enter your email:
                br
                input(type="email" id="email" name="email" class="w-100" placeholder="Your email" required)
                br 
                input( type="submit" id="btnEl" value="Submit" class="submit")